src/conf/xml-resources/web-service-references/homeautomationWS/wsdl/localhost_8080/HomeAutomationSoapWebService/homeautomationWS.wsdl_1.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><definitions xmlns:tns="http://service.homeautomation.cynapsys.de/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.homeautomation.cynapsys.de/">
<types>
<xsd:schema>
<xsd:import namespace="http://service.homeautomation.cynapsys.de/" schemaLocation="http://localhost:8080/HomeAutomationSoapWebService/homeautomationWS?xsd=1"/>
</xsd:schema>
</types>
<message name="getValue">
<part name="deviceID" type="xsd:long"/>
</message>
<message name="getValueResponse">
<part name="return" type="xsd:int"/>
</message>
<message name="setValue">
<part name="deviceID" type="xsd:long"/>
<part name="value" type="xsd:int"/>
</message>
<message name="setValueResponse">
<part name="return" type="xsd:boolean"/>
</message>
<message name="getAllDevices"/>
<message name="getAllDevicesResponse">
<part name="return" type="tns:arrayList"/>
</message>
<message name="getDeviceByID">
<part name="deviceID" type="xsd:long"/>
</message>
<message name="getDeviceByIDResponse">
<part name="return" type="tns:device"/>
</message>
<portType name="DevicesService">
<operation name="getValue">
<input xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata" ns1:Action="http://service.homeautomation.cynapsys.de/DevicesService/getValueRequest" message="tns:getValue"/>
<output xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata" ns2:Action="http://service.homeautomation.cynapsys.de/DevicesService/getValueResponse" message="tns:getValueResponse"/>
</operation>
<operation name="setValue" parameterOrder="deviceID value">
<input xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata" ns3:Action="http://service.homeautomation.cynapsys.de/DevicesService/setValueRequest" message="tns:setValue"/>
<output xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata" ns4:Action="http://service.homeautomation.cynapsys.de/DevicesService/setValueResponse" message="tns:setValueResponse"/>
</operation>
<operation name="getAllDevices">
<input xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata" ns5:Action="http://service.homeautomation.cynapsys.de/DevicesService/getAllDevicesRequest" message="tns:getAllDevices"/>
<output xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata" ns6:Action="http://service.homeautomation.cynapsys.de/DevicesService/getAllDevicesResponse" message="tns:getAllDevicesResponse"/>
</operation>
<operation name="getDeviceByID">
<input xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata" ns7:Action="http://service.homeautomation.cynapsys.de/DevicesService/getDeviceByIDRequest" message="tns:getDeviceByID"/>
<output xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata" ns8:Action="http://service.homeautomation.cynapsys.de/DevicesService/getDeviceByIDResponse" message="tns:getDeviceByIDResponse"/>
</operation>
</portType>
</definitions>