web/WEB-INF/wsdl/localhost_8080/HomeAutomationSoapWebService/homeautomationWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><xs:schema xmlns:tns="http://service.homeautomation.cynapsys.de/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.homeautomation.cynapsys.de/">

<xs:element name="device" type="tns:device"/>

<xs:complexType name="arrayList">
<xs:complexContent>
<xs:extension base="tns:abstractList">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="abstractList" abstract="true">
<xs:complexContent>
<xs:extension base="tns:abstractCollection">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="abstractCollection" abstract="true">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="device">
<xs:sequence/>
<xs:attribute name="currentValue" type="xs:int" use="required"/>
<xs:attribute name="description" type="xs:string"/>
<xs:attribute name="id" type="xs:long"/>
<xs:attribute name="name" type="xs:string"/>
</xs:complexType>
</xs:schema>